@forward "global";
@use "./utils" as u;

.container {
  @include u.flex(column, center, center);
  @include u.size(100vw, 100vh);
  transition: all 0.3s ease-in;

  &__time {
    font-size: 60px;
    @include u.flex(row, baseline, flex-start);

    @media (width < 600px) {
      font-size: 40px;
    }

    .format {
      font-weight: 600;
      margin-left: 15px;
    }
  }

  &__date {
    color: u.$date-color;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;

    .circle {
      background-color: u.$badge;
      color: u.$secondary;
      border-radius: 50%;
      @include u.size(20px, 20px);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 18px;
      transition: all 0.5s ease-in;
      font-size: 12px;
      margin-left: 5px;
    }
  }

  .toggle {
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    text-transform: capitalize;

    &:focus {
      outline: none;
    }

    .icon {
      margin-left: 5px;
    }
  }
}

.light {
  color: u.$light-text;
  background: u.$bg-light;
}

.dark {
  color: u.$dark-text;
  background: u.$bg-dark;
}
